<div class="center hero-unit">
  <h1>Welcome to Ember</h1>

  <h2>
    This is the prototype for Ember online shopping
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>