<div class="center hero-unit">
  <h1>Welcome to Ember</h1>

  <h2>
    This is the prototype for Ember online shopping
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <div>
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
  
</div>